In [7]:
# Import Dependencies

import pandas as pd

In [8]:
# Make a reference to the books.csv file path

electionfile = "electiondata.csv"

electiondata = pd.read_csv(electionfile)

electiondata.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [9]:
# The total number of votes cast

len(electiondata)

3521001

In [10]:
# A complete list of candidates who received votes

unique = electiondata["Candidate"].unique()
unique

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [11]:
# The total number of votes each candidate won

candidatevotes = electiondata["Candidate"].value_counts()
candidatevotes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [12]:
# New Dataframe for total number of votes each candidate won

dataframe = pd.DataFrame({
    "Candidate": ["Khan", "Correy", "Li", "O'Tooley"], 
    "Votes" : [2218231, 704200, 492940, 105630],
})
dataframe

  Candidate    Votes
0      Khan  2218231
1    Correy   704200
2        Li   492940
3  O'Tooley   105630

In [13]:
# The percentage of votes each candidate won

percentage = dataframe["Votes"]/dataframe["Votes"].sum()
percentage

0    0.63
1    0.20
2    0.14
3    0.03
Name: Votes, dtype: float64

In [14]:
# New Dataframe for the Election Results

election_df = pd.DataFrame({
    "Candidate": ["Khan", "Correy", "Li", "O'Tooley"], 
    "Votes" : [2218231, 704200, 492940, 105630],
    "Percentage" : ["63.00%","20.00%", "14.00%", "3.00%"]
})
election_df

  Candidate    Votes Percentage
0      Khan  2218231     63.00%
1    Correy   704200     20.00%
2        Li   492940     14.00%
3  O'Tooley   105630      3.00%

In [15]:
# The total votes and winner of the election based on popular vote
 
print("Total Votes: 3521001")
print("Winner: Khan")

Total Votes: 3521001
Winner: Khan

In [16]:
# print the analysis 

print(election_df.to_csv(index=False))

Candidate,Votes,Percentage
Khan,2218231,63.00%
Correy,704200,20.00%
Li,492940,14.00%
O'Tooley,105630,3.00%

In [17]:
# print with a new function 

election_results = f"""
Election Results
------------------------------
Total Votes = 3521001
------------------------------
Khan: 63.00% (2218231)
Correy: 20.00% (7040200)
Li: 14.00% (492940)
O'Tooley: 3.00% (105630)
------------------------------
Winner: Khan 
------------------------------
"""

print(election_results)

Election Results
------------------------------
Total Votes = 3521001
------------------------------
Khan: 63.00% (2218231)
Correy: 20.00% (7040200)
Li: 14.00% (492940)
O'Tooley: 3.00% (105630)
------------------------------
Winner: Khan
------------------------------

In [18]:
# Open an empty txt file and write the results

with open('Election_Result_Pandas.txt', 'w') as text_file:
    text_file.write(election_results)